



footer#footer-container
  .footer-warp.py-5.d-none.d-sm-block.no-border-top
    .container
      .row
        if (lang == 'tw')
          each item in menus.taiwan
            if item.submenu
              .col-sm-3
                a(href=item.url)
                  h5 #{item.name}
                ul
                  each subitem in item.submenu
                    li
                      a(href=subitem.url) #{subitem.name}
          .col-sm-3
            a(href=menus.taiwan.url)
              h5 #{menus.taiwan[4].name}
            ul
              li
                i.material-icons 
                span #{menus.taiwan[4].company}
              li
                i.material-icons 
                span #{menus.taiwan[4].address}
              li
                i.material-icons 
                span #{menus.taiwan[4].phone}
              li
                i.material-icons 
                a(href='mailto:'+menus.taiwan[4].mail, target='_blank')
                  span #{menus.taiwan[4].mail}
        else
          each item in menus.english
            if item.submenu
              .col-sm-3
                a(href=item.url)
                  h5 #{item.name}
                ul
                  each subitem in item.submenu
                    li
                      a(href=subitem.url) #{subitem.name}
          .col-sm-3
            a(href=menus.taiwan.url)
              h5 #{menus.english[4].name}
            ul
              li
                i.material-icons 
                span #{menus.english[4].company}
              li
                i.material-icons 
                span #{menus.english[4].address}
              li
                i.material-icons 
                span #{menus.english[4].phone}
              li
                i.material-icons 
                a(href='mailto:'+menus.english[4].mail, target='_blank')
                  span #{menus.english[4].mail}
      //- .row
      //-   .col-sm-3
      //-     a(href='about.html')
      //-       h5 關於弼伽
      //-     ul
      //-       li
      //-         a(href='about.html') 公司介紹
      //-       li
      //-         a(href='about.html#spirit-intro') 企業理念
      //-       li
      //-         a(href='about.html#technology') 技術專業
      //-   .col-sm-3
      //-     a(href='product.html')
      //-       h5 產品介紹
      //-     ul
      //-       li
      //-         a(href='product.html') 產品型錄與介紹
      //-       li
      //-         a(href='product.html#product-second') 紙塑成型機
      //-       li
      //-         a(href='product.html#otherproduct') 其他產品
      //-       li
      //-         a(href='product.html#product-customized') 客製化服務
      //-   .col-sm-3
      //-     a(href='process.html')
      //-       h5 工藝介紹
      //-     ul
      //-       li
      //-         a(href='process.html#a1') 紙塑廠備漿系統規劃
      //-       li
      //-         a(href='process.html#process-two') 造紙廠整廠輸出規劃
      //-   .col-sm-3
      //-     a(href='contact.html')
      //-       h5 聯絡我們
      //-     ul
      //-       li
      //-         i.material-icons 
      //-         | 弼伽機械科技無錫有限公司
      //-       li
      //-         i.material-icons 
      //-         | 中國江蘇省無錫市胡埭鎮工業區
      //-       li
      //-         i.material-icons 
      //-         a(href='tel:+8651085581036')
      //-           span(aria-hidden='true')
      //-           | +86 510 85581036
      //-       li
      //-         i.material-icons 
      //-         a(href='mailto:suport@biguar.net', target='_blank')
      //-           span(aria-hidden='true')
      //-           | suport@biguar.net
  .copyright
    // Container Starts
    .container
      p
        | © 2017
        a(href='/')  BIGUAR MACHINE 
        | . All Rights Reserved.
    // Container Ends
