mixin langLink(link)
  if (lang == 'tw')
    a(href=link) English
  else
    a(href=link) 繁體中文




nav#menu
  ul.nav.navbar-nav.nav-main
    // 判斷語系
    if (lang == 'tw')
      each item in menus.taiwan
        //- 如果有次選單
        if item.submenu
          //- 判斷現在在哪個頁面設定 active
          if (current == item.url)
            li.item.active
              a(href=item.url)
                span.text #{item.name}
              ul.multi-level(role='menu')
                each subitem in item.submenu
                  li 
                    a(href=subitem.url) #{subitem.name}
          else
            li.item
              a(href=item.url)
                span.text #{item.name}
                b.caret
              ul.multi-level(role='menu')
                each subitem in item.submenu
                  li 
                    a(href=subitem.url) #{subitem.name}
        else
          if (current == item.url)
            li.item.active
              a(href=item.url)
                span.text #{item.name}
          else
            li.item 
              a(href=item.url)
                span.text #{item.name}
    else
      each item in menus.english
        //- 如果有次選單
        if item.active
          //- 如果是現在的頁面
          if (current == item.url)
            li.item.active
              a(href=item.url)
                span.text #{item.name}
              ul.multi-level(role='menu')
                each subitem in item.submenu
                  li 
                    a(href=subitem.url) #{subitem.name}
          else
            li.item
              a(href=item.url)
                span.text #{item.name}
              ul.multi-level(role='menu')
                each subitem in item.submenu
                  li 
                    a(href=subitem.url) #{subitem.name}
        else
          if (current == item.url)
            li.item.active
              a(href=item.url)
                span.text #{item.name}
          else
            li.item 
              a(href=item.url)
                span.text #{item.name}
    li.item
      +langLink(other)
      //- a(href='#')
      //-   span.text 繁體中文
      //- ul.multi-level(role='menu')
      //-   li
      //-     a(href='contact-1.html', tabindex='-1') 繁體中文
      //-   li
      //-     a(href='contact-2.html', tabindex='-1') English
